<?xml version='1.0' encoding='utf-8'?>
<widget id="com.umanse.link" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Umanse</name>
    <description>
        UMANSE MOBILE PROJECT
    </description>
    <author email="dev@umanse.com" href="http://umanse.com">
        UMANSE DEV TEAM
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
