
<ion-nav-bar class="nav-title-slide-ios7 bar-light">
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
  </ion-nav-back-button>
</ion-nav-bar>
    
<ion-view title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear no-animation"
      ng-click="startApp()" >
      Skip Intro
    </button>
  </ion-nav-buttons>

  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h3>Thank you for choosing the Awesome App!</h3>
      <p>
        We've worked super hard to make you happy.
      </p>
      <p>
        But if you are angry, too bad.
      </p>
    </ion-slide>

    <ion-slide>
      <h3>Using Awesome</h3>
      <div id="list">
        <h5>Just three steps:</h5>
        <ol>
          <li>Be awesome</li>
          <li>Stay awesome</li>
          <li>There is no step 3</li>
        </ol>
      </div>
    </ion-slide>

    <ion-slide>
      <button class="button button-block button-positive" ng-click="openLoginModal()">Log in</button>
    </ion-slide>
  </ion-slide-box>

</ion-view>
